body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f0f2f5;
    margin: 0;
}

.gallery {
    background: #ffffff;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    width: 70%;
    text-align: center;
    transition: all 0.3s ease-in-out;
}

.gallery:hover {
    transform: scale(1.03);
}

h1 {
    font-size: 28px;
    color: #222;
}

#imageContainer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 15px;
    justify-content: center;
    margin-bottom: 25px;
}

img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

img:hover {
    transform: scale(1.08);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.25);
}

.buttons {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 12px;
}

button {
    padding: 14px 20px;
    border: none;
    background-color: #ff6600;
    color: white;
    border-radius: 30px;
    cursor: pointer;
    font-size: 17px;
    transition: background 0.3s ease-in-out, transform 0.2s ease-in-out;
}

button:hover {
    background-color: #cc5200;
    transform: scale(1.12);
}

button:hover {
  background-color: #b3001a; /* Темніший колір при наведенні */
}
